<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:boxing.properties" />
    
    <!-- Define your beans here -->
    <bean id="FortuneDep"  class="com.springappone.HappyFortune"></bean>
    
    <bean id="BaseballCoach"  class="com.springappone.BaseballCoach">
    	<property name="fortuneService" ref="FortuneDep"/>
    </bean>   
    
    <bean id="TrackCoach"  class="com.springappone.TrackCoach">
    	<constructor-arg ref="FortuneDep"/>
    </bean>    
    
    <bean id="BoxingCoach" class="com.springappone.BoxingCoach" init-method="doInit" destroy-method="doDestroy" scope="prototype">
    	<constructor-arg ref="FortuneDep"/>
    	<property name="GymName" value="Black Jaguar"/>
    	<property name="WeightClass" value="Middle Weight"/>
    	<property name="email" value="${gym.email}" />
    	<property name="champ" value="${gym.champ}" />
    	<property name="memberCount" value="${gym.membercount}" />
    	
    </bean>   
</beans>





